*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 18px;
	overflow: auto;
	box-sizing: border-box;
	max-width: 1200px;
	margin:0 auto;
}

main{
	display:block;
	margin: 15px auto;
	padding: 0 5%;
	line-height: 1.75em;
	max-width: 1200px;
}
footer{
	clear: both;
	display: block;
	margin: 50px 5%;
	max-width: 1200px;
	color: #55617b;
	font-size: .65em;
}
p{
	line-height: 1.5em;
	margin-bottom: .8em;
}

ul{
	margin-bottom: 10px
}

li{
	line-height: 1.5em;
	margin-left: 2%;
}


a{
	text-decoration: none;
	text-indent: 0;
	color: #0f82a5
}

#top{
	max-width: 1200px;
	margin: 0 auto;
	transform-origin: top;
	opacity: .5;
	transition: .5s all ease;
	animation: 1s showTop ease;
}

#top img{
	width:100%;
}

#icon{
width: 10%;
position: absolute;
left: 45%;
top: 300px;
opacity: 0;
z-index: 100;
animation: zoomIn 1s .5s forwards cubic-bezier(0.45, 0.43, 1, 1.62);
}

#icon img{
	width: 100%;
	border-radius: 50%;
	box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.35);
}

nav{
	width:95%;
	margin: 0 auto;
	padding:0;
	transition: all 1s ease;
	max-width: 1200px;

}

nav a{
	display: inline-block;
	width:18%;
	background: rgba(28, 103, 144, 0.69);
	padding: 1% 0;
	margin-left: 1%;
	color: white;
	font-family: 'Squada One', cursive;
	text-align: center;
	font-size: 90%;
	border-radius: 10px 10px 0 0;
}

nav a:hover{
	transition: all .5s;
	transform: translateY(-10px);
	background: rgba(28, 103, 144, 1);
	text-decoration: none;	
}

#burger{
	font-size: 1.5em;
	text-align: center;
	display: none;
}

h1,h2,h3,h4{
	font-family: 'Squada One', cursive;
	color: #115283;
	font-weight: 100;
	padding-bottom: .25em
}

h1{
		clear: both;
}
h2,h3,h4{}

header{
	background-image: url("images/Banner-logo.png");
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	height:150px;	
	text-align: center;
	margin-bottom: 20px;
}

#blurb{
	text-align: center;
	width:80%;
	margin: 20px auto;
	max-width: 100%;	
}

.leftHead{
	font-family: 'Squada One', cursive;
	font-size:120%;
	margin: 0;
}

.block{
	background-color: rgba(183, 224, 245, 0.55);
	border-radius: 20px;
	padding:2% 4%;
	margin: 50px 0;
	overflow: auto;
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.45);
	font-size: 110%;
	line-height: 1.25em;
	clear:both;
}
.button{
	display:block;
	background: #76a138;
	width:50%;
	margin: 20px auto;
	font-family: 'Squada One', cursive;
	font-size: 120%;	
	text-align: center;
	padding:5px 0;
	color:white;
	border-radius: 20px;
	text-shadow: 2px 2px 0px black;
	border: 2px solid #426018
}
.button:hover{
	background: #5e802d;
	text-shadow: 0px 0px 0px black;
}

hr{
	width:80%;
	margin: 50px auto;
	border: 4px inset #7cc7f5;
	clear: both;
}

.caps{
	text-transform:uppercase;
}

header img{
	display: block;
	width: 60%;
	margin: 0 auto;
}

.right{
	float: right;
	margin: 0 0 2% 2%;
}
.left{
	float: left;
	margin-right: 20px;
}
.center{
	margin:0 auto;
	display: block;
}
.frameRight{

	box-shadow: 10px 10px 0px rgba(153, 62, 178, 0.57);
	border-radius: 10px;
}
.centered{
	width:80%;
	display: block;
	margin: 0 auto;
}

/* Form stuff */

form {
	  margin: 20px auto ;
	  width:95%;
	  background-color: rgba(195, 211, 250, 0.41);
	  padding:1% 5%;
	  border-radius: 20px;
	  }

textarea, input{
	 width: 90%;
	 height:auto;
	 font-size: 1.1em;
	 display:block;
	 padding: .5em;
	 overflow: scroll;
 }

input[type=submit]{
	 background-color: #3573ac;
	 width:250px;
	 height:auto;
	 border-radius: 10px;
	 border:#c9e6fc 2px solid;
	 margin: 15px auto;
	 color:white;
	 font-size: 1em;
	}
	
label{
  font-weight: bold;
  padding-top: 20px;
  display: block;
}

 #anim{
	 width: 100vw;
	 height: 200vh;
	 overflow: hidden;
	 position: absolute;
	 z-index: -500;
 } 
 
.circle{
	border-radius: 50%;
	width:100vw;
	height:100vw;
	max-height: 800px;
	max-width: 800px;
	position: absolute;	
	opacity: .25;

}

.circle01{
	background-image: linear-gradient(rgba(253, 33, 33, 0.71) 22.5%, rgba(255,0,0,0) 70%);
	animation: wander 90s ease infinite;
	z-index: -10;
}

.circle02{
	background-image: linear-gradient(rgba(0,183,255,0) 22.52%, #7cb7ff 100%);
	animation: meander 75s ease infinite ;
	z-index: -20;
}

@keyframes zoomIn {
	0%{	
		transform: scale(0);
		opacity:0;
		}

		100%{
			transform: scale(1);
		opacity:1;
	}
}



@keyframes showTop {
	0%{
		
		transform: scaleY(0);
		opacity:0;
		}
	50%{
		transform: scaleY(1);
		opacity:1;
	}
	100%{
		opacity:.5;
	}
}


@keyframes wander {
	0%{
		transform: rotate(0deg) translate(50%,-75%);
	}
	50%{
		transform: rotate(-180deg) translate(0%,150%);
	}
	100%{
		transform: rotate(-360deg) translate(50%,-75%);
	}
}

@keyframes meander {
	0%{
		transform: rotate(-360deg) translate(50%,0%);
	}
	50%{
		transform: rotate(-180deg) translate(-70%,150%);
	}
	100%{
		transform: rotate(0deg) translate(50%,0%);
	}
}

/* =============== Small stuff ====================== */

@media only screen 
and (max-width : 500px)
{
	
body{
	font-size: 14px;
	background: white;
	opacity: 1;
	
}
main{
	margin:0 ;
	padding: 0 2%;	
}

#icon{
	display:none;
}	
nav{
	width:100%;
	margin: 0 auto;
	top:0;
	height:0;
	overflow: hidden;
	position: relative;
	transition: all .5s ease;
}
#burger{
	transition: all .5s ease;
	display: block;
}
nav a{
	width:100%;
	padding:10px 0;
	float: none;
	margin-left: 0;
	font-size: 120%;
	border-radius: initial;
	border: 1px solid #b2d4f3
}
nav a:hover{
		transform: translateY(0);
}

li{
		margin-left: 5%;
}

#blurb{
	display:none;
}
form{
	width:100%;
	border-radius: 0;
	margin:0;
	padding: 1% 2%;
}
.button{
	width:80%;
}
.block{
	box-shadow: none;
	}

}
